.THIS .slds-th__action:hover {
    color: rgb(0, 112, 210);
    text-decoration: none;    
}

.THIS svg.slds-icon {
    width: .75rem;
    height: .75rem;
    margin-left: .25rem;    
}

.THIS a.slds-th__action:hover, .THIS span.slds-icon-text-default:hover {
    fill: rgb(0, 112, 210) !important;
}

.THIS .actionbutton {
    text-align:center;
    margin-top:1em;
}

.THIS .saveBtn {
    
}

.THIS .paginationBtns {
    float:right;
}

.THIS .pageCount {
    float: left;
    padding: 10px;
}

.THIS span.uiOutputText {
    overflow-wrap: break-word;
}

.THIS .textWrap {
    overflow-wrap: break-word;
}

.THIS .tableWrapper {
    margin-top:-1.75em;
}

.THIS .slds-image {    
    width: 120px;
}

@media only screen and (min-width: 30em) {    
    .THIS .slds-image {    
        width: 120px;
    }
    
    .THIS .filter.slds-form-element {
        display: inline-block;
    }
    
    .THIS .period.slds-form-element {
        display: inline-block;
        margin-left: 15px;
        margin-top: -3em;
    }
    
    .THIS .manualTimeframe.slds-form-element {
        display: inline-block;
        margin-left: 15px;
        margin-top:-3em;
    }  
    
    .THIS .manualTimeframe input {        
        min-height: inherit;
    }
    
    .THIS  .slds-table td:hover {
        background-color: rgb(255, 255, 255) !important;
        box-shadow: rgb(216, 221, 230) 0 -1px 0 inset ,rgb(216, 221, 230) 0 1px 0 inset !important;
    }
    
    .THIS .slds-has-focus {
        background-color: rgb(255, 255, 255) !important;
    }
    
    /*.THIS .slds-radio--button .slds-radio--button__label .slds-radio--faux, .THIS .slds-radio--button [type=radio]:checked+.slds-radio--button__label .slds-radio--faux {
        background-color: transparent !important;
    }
    
    .THIS .slds-radio--button [type=radio]:checked+.slds-radio--faux, .THIS .slds-radio--button [type=radio]:checked~.slds-radio--faux, .THIS .slds-radio--button [type=radio]:checked+.slds-radio--button__label {
        background-color: rgb(0, 112, 210) !important;
        color: rgb(255, 255, 255) !important;
    }*/
}


@media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    /*.THIS table {
    overflow:scroll;
    height:200px;
}*/
    
    .THIS .slds-table {
        max-height: 80%;    
    }  
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    .THIS .slds-image, .THIS .slds-grid, .THIS .filled {
        float: right;
    }    
    
    .THIS .tableWrapper {   
        width: 100%;
        height: 100%;
        max-height: 350px;
    }
    
    .THIS .filter.slds-form-element {
        display: block;
    }
    
    .THIS .period.slds-form-element {
        display: block;
        margin-left: 15px;
        margin-top: 1em;
    }
    
    .THIS select.period {
        width:100%;
    }
    
    .THIS .manualTimeframe.slds-form-element {
        display: block;
        margin-left: 15px;
        margin-top:1em;
    }
    
    /*.THIS .slds-form--stacked .slds-form-element+.slds-form-element {
    display: block;
    margin-left: 15px;
}*/
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    .THIS .slds-table th:nth-child(-n+3), 
        .THIS .slds-table td:nth-child(-n+3) {
                max-width:120px;
            }
            .THIS .slds-radio--button .slds-radio--faux {
                padding-left: 0.3rem;
                padding-right: 0.3rem; 
            }
            
            .THIS .tableWrapper {   
                width:100%;
                height:100%;
                max-height:250px;
            } 
            
            .THIS .filter.slds-form-element {
                display: block;
            }
            
            .THIS .period.slds-form-element {
                display: block;
                margin-left: 15px;
                margin-top:1em;
            }
            
            .THIS select.period {
                width:100%;
            }
            
            .THIS .manualTimeframe.slds-form-element {
                display: block;
                margin-left: 15px;
                margin-top:1em;
            }
        }